pandas
numpy
matplotlib
seaborn
fastapi

langchain
langchain-groq
langchain-community
langchain-google-genai

pgvector
lxml
sentence-transformers
tqdm
chromadb
rank-bm25
google-genai
python-dotenv

httpx2