pandas
numpy
matplotlib
seaborn
fastapi

langchain-groq
langchain
langchain-community
langchain-google-genai

pgvector
lxml
sentence-transformers
tqdm
chromadb
rank bm-25
google-genai
python-dotenv

httpx2