.floating-ai{

position:fixed;

bottom:35px;

right:35px;

width:65px;

height:65px;

border-radius:50%;

background:#2563eb;

color:white;

font-size:26px;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 15px 30px rgba(37,99,235,.35);

z-index:999;

transition:.3s;

}

.floating-ai:hover{

transform:scale(1.08);

}