.page-loader{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:80px;

gap:20px;

}

.loader-circle{

width:70px;

height:70px;

border-radius:50%;

border:7px solid #dbeafe;

border-top:7px solid #2563eb;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}