.profile-page{

padding:40px;

display:flex;

justify-content:center;

}

.profile-card{

width:520px;

background:white;

padding:40px;

border-radius:22px;

box-shadow:0 12px 30px rgba(0,0,0,.08);

text-align:center;

}

.profile-icon{

font-size:120px;

color:#2563eb;

margin-bottom:20px;

}

.profile-card h2{

font-size:34px;

margin-bottom:10px;

}

.profile-info{

margin-top:30px;

display:flex;

flex-direction:column;

gap:20px;

}

.profile-info div{

display:flex;

gap:15px;

align-items:center;

justify-content:center;

font-size:17px;

}

.profile-info svg{

color:#2563eb;

}