.search-page{

padding:40px;

}

.search-page h1{

margin-bottom:30px;

}

.search-box{

background:white;

display:flex;

align-items:center;

gap:15px;

padding:18px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

margin-bottom:45px;

}

.search-box svg{

font-size:22px;

color:#2563eb;

}

.search-box input{

border:none;

width:100%;

font-size:17px;

outline:none;

}

.empty-search{

background:white;

padding:70px;

border-radius:20px;

text-align:center;

box-shadow:0 12px 30px rgba(0,0,0,.08);

}

.empty-search h2{

margin:15px 0;

}