:root{

--primary:#2563eb;

--primary-dark:#1d4ed8;

--secondary:#60a5fa;

--background:#f8fafc;

--surface:#ffffff;

--text:#1e293b;

--text-light:#64748b;

--border:#dbeafe;

--radius:20px;

--shadow:0 15px 35px rgba(37,99,235,.08);

}
/* RESET */

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

height:100%;

}

body{

min-height:100%;
font-family:"Inter",sans-serif;
background:var(--background);
color:var(--text);
overflow-x:hidden;
overflow-y:auto;

}

#root{

min-height:100vh;

}

/* APP */

.app{

display:flex;
min-height:100vh;
background:#f8fafc;

}

/* MAIN */

.main-content{

margin-left:270px;

width:calc(100% - 270px);

min-height:100vh;

/* THIS FIXES SCROLL */

overflow-y:auto;

overflow-x:hidden;

padding:0;

transition:.35s;

}

.full-width{

margin-left:0;

width:100%;

}

/* LINKS */

a{

text-decoration:none;
color:inherit;

}

/* BUTTONS */

button{

cursor:pointer;
font-family:inherit;
transition:.3s;

}

button:hover{

transform:translateY(-2px);

}

/* INPUTS */

input,
textarea{

font-family:inherit;

}

input:focus,
textarea:focus{

outline:none;

}

/* IMAGE */

img{

display:block;
max-width:100%;

}

/* SCROLLBAR */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#edf2f7;

}

::-webkit-scrollbar-thumb{

background:#2563eb;

border-radius:30px;

}

::-webkit-scrollbar-thumb:hover{

background:#1d4ed8;

}

/* ANIMATION */

.fade-up{

animation:fadeUp .45s;

}

@keyframes fadeUp{

from{

opacity:0;
transform:translateY(18px);

}

to{

opacity:1;
transform:translateY(0);

}

}

@media(max-width:900px){

.main-content{

margin-left:0;

width:100%;

}

}
.dark{

--background:#0f172a;

--surface:#1e293b;

--text:#f8fafc;

--text-light:#cbd5e1;

--border:#334155;

background:#0f172a;

color:#f8fafc;

}

.theme-btn{

width:48px;

height:48px;

border-radius:50%;

background:#2563eb;

color:white;

display:flex;

align-items:center;

justify-content:center;

margin:auto;

margin-bottom:20px;

font-size:18px;

}
.hero-card,
.tech-card,
.analytics-card,
.workflow,
.history-card,
.stat-card{

background:rgba(255,255,255,.88);

backdrop-filter:blur(18px);

-webkit-backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.25);

}
main{

animation:pageFade .4s ease;

}

@keyframes pageFade{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:none;

}

}